@model Puntland_Port_Taxation.Models.Way_BillModel
<div>
    <a href="javascript:void(0);" onclick="closePopup()"><div class="close_button"></div></a>
    <div class="clear"></div>
</div>
<div class="form">
    @using (Html.BeginForm("DbSearchresult", "Way_Bill_Export", FormMethod.Post, new { id = "way_bill", name = "way_bill" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.way_bill_code, "Way Bill Code")
                @Html.TextBoxFor(model => model.way_bill_code, new { @class = "input" })
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.import_code, "Export Code")
                @Html.TextBoxFor(model => model.import_code, new { @class = "input" })
                <div class="clear"></div>
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.ship_arrival_code, "Ship Departure Code")
                @Html.TextBoxFor(model => model.ship_arrival_code, new { @class = "input" })
                <div class="clear"></div>
            </div>
        
            <div class="editor-label label_button">
                <input type="submit" value="Search" class="save_button" />
                <a href="javascript:void(0);" class="text_style" onclick="closePopup()">
                    <input type="button" value="Cancel" class="save_button cancel_button" id="createUser" name="Save" />
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
    }
    <div class="clear"></div>
</div>