@model Puntland_Port_Taxation.Levi_Entry
<div>
    <a href="javascript:void(0);" onclick="closePopup()"><div class="close_button"></div></a>
    <div class="clear"></div>
</div>
<div class="form">
    @using (Html.BeginForm("DbSearchresult", "Manage_Levis", FormMethod.Post, new { id = "levi", name = "levi" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.levi_name, "Levi Name")
                @Html.TextBoxFor(model => model.levi_name, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.levi_name)
                <div id="error_levi_name" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>
        
            <div class="editor-label label_button">
                <input type="submit" value="Search" class="save_button" onclick="return levi_add()" />
                <a href="javascript:void(0);" class="text_style" onclick="closePopup()">
                    <input type="button" value="Cancel" class="save_button cancel_button" id="createUser" name="Save" />
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
    }
    <div class="clear"></div>
</div>