@model IEnumerable<Puntland_Port_Taxation.E_Display_Levi_Entries_View_Result>
@{
    Layout = "~/Views/Shared/Shared_Section_Bottom.cshtml";
}
@{
    var i = 0;
    if(ViewBag.start_from != null)
    {
        i = ViewBag.start_from;
    }
    var l = ViewBag.page;
    int count = 0;
    double no_of_pages = 0;
    if (ViewBag.total_page != null)
    {
        count = ViewBag.total_page;
    }
    double c = (double)count / 9;
    no_of_pages = Math.Ceiling(c);
        <div class="manage_admin_icon_text_together">
            <div class="manage_levi_icon"></div>
            @Html.Hidden("identifier","Manage_Levy")
            <div class="manage_admin_icon_text">Manage Levy Export</div>
            <div class="clear"></div>
        </div>
        if (TempData["errorMessage"] != null)
        {
            @Html.Hidden("error", TempData["errorMessage"])
        }
        <div class="clear"></div>
        <div class="admninn__pagecontent">
            <div class="jq_table">
                <table id="tablepaging">
                        <thead>
                            <tr>
                                <th>
                                    Sl No
                                </th>
                                <th>
                                    Levy Name
                                </th>
                                <th>
                                    Levy Type
                                </th>
                                <th>
                                    Goods Item
                                </th>
                                <th>
                                    Levy
                                </th>
                                <th>
                                    Currency
                                </th>
                                <th>
                                    Is Percentage
                                </th>
                                <th>
                                    View
                                </th>
                                <th>
                                    Document
                                </th>
                                <th>
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                    i++;
                                    <tr>
                                        <td class="left_border">
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.levi_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.levi_type_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goods)
                                        </td>
                                        <td>
                                            @item.levi.ToString("#,##0.0000")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.currency_code)
                                        </td>
                                        @if(item.ispercentage)
                                        {
                                            <td>
                                                Yes
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                No
                                            </td>
                                        }
                                        <td>
                                            <a class="dbsearch" href="javascript:void(0);" onclick="levi_entry_view(@item.Levi_entry_id)"><div class="add_admin calculate_tax">View</div></a>
                                        </td>
                                        @if(item.document_name != null)
                                        {
                                            <td>
                                                <a class="dbsearch" href="@Url.Action("View_Tariff_Document", "Home", new { document_name = item.document_name })"><div class="add_admin calculate_tax">Download</div></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>
                                            <a href="javascript:void(0);" onclick="addpopup_edit(@item.Levi_entry_id)"><div class="edit_icon"></div></a>
                                        </td>
                                    </tr>
                            }
                        </tbody>
                </table>
                @if(count > 9)
                {
                    <div class="page_links">
                        <a href="../Manage_Levis_Export?page=1" class="link_class"><div class="left_link_image"></div></a>
                        <a href="../Manage_Levis_Export?page=@(l-1)" class="link_class"><div class="toggle_left_link_image"></div></a>
                        <a href="../Manage_Levis_Export?page=@(l+1)" class="link_class"><div class="toggle_right_link_image"></div></a>
                        <a href="../Manage_Levis_Export?page=@no_of_pages" class="link_class"><div class="right_link_image"></div></a>
                        <div class="clear"></div>
                    </div>
                }
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
}
