@model Puntland_Port_Taxation.Models.Way_BillModel
<script>
    $('select#goods_category_id').change(function () {
        var id = $(this).val();
        $.ajax({
            url: '../Home/bind_subcategory_to_dropdown_list',
            type: 'POST',
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('select#goods_subcategory_id').html('<option value="">Select Subcategory</option>');
                $.each(data, function (index, items) {
                    $('select#goods_subcategory_id').append(
                        '<option value="' + items.Id + '">' + items.name + '</option>');
                });
            }
        });
    });
    $('select#goods_subcategory_id').change(function () {
        var id = $(this).val();
        $.ajax({
            url: '../Home/bind_type_to_dropdown_list',
            type: 'POST',
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('select#goods_type_id').html('<option value="">Select Goods Type</option>');
                $.each(data, function (index, items) {
                    $('select#goods_type_id').append(
                        '<option value="' + items.Id + '">' + items.name + '</option>');
                });
            }
        });
    });
    $('select#goods_type_id').change(function () {
        var id = $(this).val();
        $.ajax({
            url: '../Home/bind_goods_to_dropdown_list',
            type: 'POST',
            data: JSON.stringify({ id: id }),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('select#goods_id').html('<option value="">Select Goods</option>');
                $.each(data, function (index, items) {
                    $('select#goods_id').append(
                        '<option value="' + items.Id + '">' + items.name + '</option>');
                });
            }
        });
    });
</script>
<div>
    <a href="javascript:void(0);" onclick="closePopup()"><div class="close_button"></div></a>
    <div class="clear"></div>
</div>
<div class="form">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "create_way_bill", name = "create_way_bill" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.goods_category_id, "Category")
                @Html.DropDownList("goods_category_id", (SelectList)ViewBag.categories, "Select Category", new { @class = "inputselect select" })
                @Html.ValidationMessageFor(model => model.goods_category_id)
                <div id="error_goods_category_id" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.goods_subcategory_id, "Sub Category")                
                @Html.DropDownList("goods_subcategory_id", new List<SelectListItem> { }, "Select Subcategory", new { @class = "inputselect select" })
                <div id="error_goods_subcategory_id" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.goods_type_id, "Goods Type")
                @Html.DropDownList("goods_type_id", new List<SelectListItem> { }, "Select Goods Type", new { @class = "inputselect select" })
                @Html.ValidationMessageFor(model => model.goods_type_id)
                <div id="error_goods_type_id" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.goods_id, "Goods")
                @Html.DropDownList("goods_id", new List<SelectListItem> { }, "Select Goods", new { @class = "inputselect select" })
                @Html.ValidationMessageFor(model => model.goods_id)
                <div id="error_goods_id" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>
        
            <div class="editor-label">
                @Html.LabelFor(model => model.units, "Unit")
                @Html.TextBoxFor(model => model.units, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.units)
                <div id="error_units" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.quantity, "Quantity")
                @Html.TextBoxFor(model => model.quantity, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.quantity)
                <div id="error_quantity" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.unit_of_measure_id, "Unit Of Measure")
                @Html.DropDownList("unit_of_measure_id", (SelectList)ViewBag.unif_of_measures, "Select Unit Of Measure", new { @class = "inputselect select" })
                @Html.ValidationMessageFor(model => model.unit_of_measure_id)
                <div id="error_unit_of_measure_id" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>
        
            <div class="editor-label">
                @Html.LabelFor(model => model.total_quantity, "Total Quantity")
                @Html.TextBoxFor(model => model.total_quantity, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.total_quantity)
                <div id="error_total_quantity" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>
        
            <div class="editor-label label_button">
                <input type="submit" value="Save" class="save_button" onclick="return create_way_bill_add()" />
                <a href="javascript:void(0);" class="text_style" onclick="closePopup()">
                    <input type="button" value="Cancel" class="save_button cancel_button" id="createUser" name="Save" />
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
    }
    <div class="clear"></div>
</div>
