@model Puntland_Port_Taxation.Way_Bill_Details
<div>
    <a href="javascript:void(0);" onclick="closePopup()"><div class="close_button"></div></a>
    <div class="clear"></div>
</div>
<div class="form">
    @using (Html.BeginForm("DbSearchresult_new", "Manage_Way_Bill", FormMethod.Post, new { id = "way_bill", name = "way_bill" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.goods_id, "Goods")
                @Html.DropDownList("goods_id", (SelectList)ViewBag.goods, "Select Goods", new { @class = "inputselect select" })
                @Html.ValidationMessageFor(model => model.goods_id)
                <div id="error_goods_id" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>
        
            <div class="editor-label label_button">
                <input type="submit" value="Search" class="save_button" />
                <a href="javascript:void(0);" class="text_style" onclick="closePopup()">
                    <input type="button" value="Cancel" class="save_button cancel_button" id="createUser" name="Save" />
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
    }
    <div class="clear"></div>
</div>