@model IEnumerable<Puntland_Port_Taxation.Models.GoodsModel>
<script>
    $(document).ready(function () {
        document.getElementById('manage_admin_page').style.width = 1550 + 'px';
        document.getElementById('manage_admin_page_right_side').style.width = 1197 + 'px';
        document.getElementById('manage_admin_page_left_side').style.width = 350 + 'px';
    });
</script>
@{
    Layout = "~/Views/Shared/Shared_Section_Bottom.cshtml";
}
@{
    var i = 0;
    if(ViewBag.start_from != null)
    {
        i = ViewBag.start_from;
    }
    var l = ViewBag.page;
    int count = 0;
    double no_of_pages = 0;
    if(ViewBag.total_page != null)
    {
        count = ViewBag.total_page;
    }
    double c = (double)count / 9;
    no_of_pages = Math.Ceiling(c);
        <div class="manage_admin_icon_text_together">
            <div class="manage_admin_icon_text searchdb">Manage Goods</div>
            <div class="clear"></div>
        </div>
        if (TempData["errorMessage"] != null)
        {
            @Html.Hidden("error", TempData["errorMessage"])
        }
        <div class="clear"></div>
        <div class="admninn__pagecontent">
            <div class="jq_table">
                <table id="tablepaging">
                        <thead>
                            <tr>
                                <th>
                                    Sl No
                                </th>
                                <th>
                                    Goods Code
                                </th>
                                <th>
                                    Goods                                    
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Sub Category                                    
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Tariff
                                </th>
                                <th>
                                    Currency
                                </th>
                                <th>
                                    Is Percentage
                                </th>
                                <th>
                                    Unit Of Measure
                                </th>
                                <th>
                                    Document
                                </th>
                                <th>
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                    i++;
                                    <tr>
                                        <td class="left_border">
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goods_code) 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goods_name)                                            
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goods_type)                                            
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goods_sub_category)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.goods_category)
                                        </td>
                                        <td>
                                            @item.goods_tariff.ToString("#,##0.00")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.currency)
                                        </td>
                                        @if(item.ispercentage)
                                        {
                                            <td>
                                                Yes
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                No
                                            </td>
                                        }                                      
                                        <td>
                                            @Html.DisplayFor(modelItem => item.unit_of_measure)
                                        </td>
                                        @if(item.tariff_document != null)
                                        {
                                            <td>
                                                <a class="dbsearch" href="@Url.Action("View_Tariff_Document", "Home", new { document_name = item.tariff_document })"><div class="add_admin download">Download</div></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>
                                            <a href="javascript:void(0);" onclick="addpopup_edit(@item.goods_id)"><div class="edit_icon"></div></a>
                                        </td>
                                    </tr>
                            }
                        </tbody>
                </table>
                @if(count > 9)
                {
                    <div class="page_links">
                        <a href="../Manage_Goods?page=1" class="link_class"><div class="left_link_image"></div></a>
                        <a href="../Manage_Goods?page=@(l-1)" class="link_class"><div class="toggle_left_link_image"></div></a>
                        <a href="../Manage_Goods?page=@(l+1)" class="link_class"><div class="toggle_right_link_image"></div></a>
                        <a href="../Manage_Goods?page=@no_of_pages" class="link_class"><div class="right_link_image"></div></a>
                        <div class="clear"></div>
                    </div>
                }
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
}
<div class="clear"></div>
