@model Puntland_Port_Taxation.Models.Manifest_Control_SectionModel
<div>
    <a href="javascript:void(0);" onclick="closePopup()"><div class="close_button"></div></a>
    <div class="clear"></div>
</div>
<div class="form">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "tax_calculation", name = "tax_calculation" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.way_bill_id, "Way Bill Code")
                @Html.DropDownList("way_bill_id", (SelectList)ViewBag.way_bill, "Select Way Bill", new { @class = "inputselect select" })
                @Html.ValidationMessageFor(model => model.way_bill_id)
                <div id="error_way_bill_id" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label label_button">
                <input type="submit" value="Select" class="save_button" onclick="return tax_calculation_add_new()" />
                <a href="javascript:void(0);" class="text_style" onclick="closePopup()">
                    <input type="button" value="Cancel" class="save_button cancel_button" id="createUser" name="Save" />
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
    }
    <div class="clear"></div>
</div>
