@model Puntland_Port_Taxation.Ship
<div>
    <a href="javascript:void(0);" onclick="closePopup()"><div class="close_button"></div></a>
    <div class="clear"></div>
</div>
<div class="form">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ship", name = "ship" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.ship_name, "Ship Name")
                @Html.TextBoxFor(model => model.ship_name, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.ship_name)
                <div id="error_ship_name" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ship_code_1, "Ship Code 1")
                @Html.TextBoxFor(model => model.ship_code_1, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.ship_code_1)
                <div id="error_ship_code_1" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ship_code_2, "Ship Code 2")
                @Html.TextBoxFor(model => model.ship_code_2, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.ship_code_2)
                <div id="error_ship_code_2" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ship_code_3, "Ship Code 3")
                @Html.TextBoxFor(model => model.ship_code_3, new { @class = "input" })
                @Html.ValidationMessageFor(model => model.ship_code_3)
                <div id="error_ship_code_3" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>
        
            <div class="editor-label">
                @Html.LabelFor(model => model.status_id, "Status")
                @Html.DropDownList("status_id", (SelectList)ViewBag.status, new { @class = "inputselect select" })
                @Html.ValidationMessageFor(model => model.status_id)
                <div id="error_status_id" class="val__msgbx"></div>
                <div class="clear"></div>
            </div>

            <div class="editor-label label_button">
                <input type="submit" value="Save" class="save_button" onclick="return ship_add()" />
                <a href="javascript:void(0);" class="text_style" onclick="closePopup()">
                    <input type="button" value="Cancel" class="save_button cancel_button" id="createUser" name="Save" />
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
    }
    <div class="clear"></div>
</div>

