@model IEnumerable<Puntland_Port_Taxation.Display_Payment_Result>
<script>
    $(document).ready(function () {
        $('#tablepaging').dataTable();
        $('#tablepaging_length').html('<div class="way_bill_table"></div>');
    });
</script>
@{
    Layout = "~/Views/Shared/Shared_Section_Bottom.cshtml";
}
@{
    var i = 0;
        <div class="manage_admin_icon_text_together">
            <div class="manage_payment_icon"></div>
            <div class="manage_admin_icon_text">Payment</div>
            <div class="clear"></div>
        </div>
        <a href="javascript:void(0);" onclick="Search_Way_Bill_In_Payment()" class="dbsearch" ><div class="dbsearchbutton new_serch_way_bill">Search Way Bill</div></a>    
        if (TempData["errorMessage"] != null)
        {
            @Html.Hidden("error", TempData["errorMessage"])
        }        
        <div class="clear"></div>
        <div class="admninn__pagecontent">
            <div class="jq_table">
                <table id="tablepaging">
                        <thead>
                            <tr>
                                <th>
                                    Sl No
                                </th>
                                <th>
                                    Bollete Dogonale Code
                                </th>
                                <th>
                                    Way Bill Code
                                </th>
                                <th>
                                    Import Code
                                </th>
                                <th>
                                    Ship Arrival Code
                                </th>
                                <th>
                                    Total Payment
                                </th>
                                <th>
                                   Submit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                    <tr>
                                        <td class="left_border">
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.bollete_dogonale_code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.way_bill_code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.import_code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ship_arrival_code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalPyment)
                                        </td>
                                        <td>
                                            <a class="dbsearch" href="@Url.Action("Submit_Manifest", "Payment", new { way_bill_id = item.way_bill_id })"><div class="add_admin submit_way_bill">Submit</div></a>                                      
                                        </td>
                                    </tr>
                            }
                        </tbody>
                </table>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    <div class="clear"></div>
}