@model Puntland_Port_Taxation.Models.Ship_DepartureModel
<div>
    <a href="javascript:void(0);" onclick="closePopup()"><div class="close_button"></div></a>
    <div class="clear"></div>
</div>
<div class="form">
    @using (Html.BeginForm("DbSearchresult", "Manage_Ship_Departure", FormMethod.Post, new { id = "ship_arrival", name = "ship_arrival" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.shipp_name, "Ship Name")
                @Html.TextBoxFor(model => model.shipp_name, new { @class = "input" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.geography_id, "Geography")
                @Html.DropDownList("geography_id", (SelectList)ViewBag.geography, "Select Geography", new { @class = "inputselect select" })
                <div class="clear"></div>
            </div>

            <div class="editor-label label_button">
                <input type="submit" value="Search" class="save_button" />
                <a href="javascript:void(0);" class="text_style" onclick="closePopup()">
                    <input type="button" value="Cancel" class="save_button cancel_button" id="createUser" name="Save" />
                </a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
    }
    <div class="clear"></div>
</div>